<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Log to file -->
    <target xsi:type="File" name="file" fileName="logs/app.log"
            layout="${longdate} [${level}] ${logger}: ${message} ${exception}" />

    <!-- Log to Visual Studio Output window -->
    <target xsi:type="Debugger" name="debug" layout="[${level}] ${message}" />
  </targets>

  <!-- Control what gets logged and where -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="file,debug" />
  </rules>
</nlog>